
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="assets/Logo.png"/>
        </div>
        Alzheimer Admin 
    </a>
  </div>

  <div class="sidebar-wrapper">

      <ul class="nav">
          <li routerLinkActive="active1" >
              <a routerLinkActive="active1" class="nav-link" routerLink="/dashboard" style="justify-content: space-between;">
                <i class="bi bi-bar-chart" style="font-size: 19px;"></i>
                
                <p class="text">Analytics </p>
                <span class="badge bg-success float-end" style="font-weight: 900;">5</span>


              </a>
          </li>



          <li routerLinkActive="active1" >

              <a routerLinkActive="active1" class="nav-link" routerLink="/dash/doctors" (click)="rotateSVG()" style="justify-content: space-between;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                <svg style="width: 17px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-doctor" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"></path></svg>

                <p class="text">Dcotors</p>

                <svg class="svg1" width="10" height="13" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.74708 6.65008C9.13761 7.0406 9.13761 7.67377 8.74708 8.06429L2.38312 14.4283C1.9926 14.8188 1.35943 14.8188 0.968909 14.4283C0.578385 14.0377 0.578385 13.4046 0.968909 13.014L6.62576 7.35719L0.968909 1.70033C0.578385 1.30981 0.578385 0.676644 0.968909 0.286119C1.35943 -0.104405 1.9926 -0.104405 2.38312 0.286119L8.74708 6.65008ZM7.00002 6.35719L8.03998 6.35719L8.03998 8.35719L7.00002 8.35719L7.00002 6.35719Z" />
                  </svg>

                  

              </a>
              <div class="collapse" id="collapseExample" style="" >
                <ul class="side-nav-second-level">
                    <li routerLinkActive="active1" >
                        <a routerLinkActive="active1" routerLink="/dash/doctors">Doctors list</a>
                    </li>

                    <li>
                        <a href="apps-ecommerce-orders.html">Most Rate</a>
                    </li>
                    <li>
                        <a href="apps-ecommerce-orders-details.html">Leatest Doctors</a>
                    </li>
                    <li>
                        <a href="apps-ecommerce-customers.html">Most viewed</a>
                    </li>

                </ul>
            </div>
          </li>





      </ul>
  </div>

