
<div class="d-flex p-5 w-100" style="position: sticky;z-index:4">
  <div>
    <h6 style="font-size: 30px;color:var(--font-color-1)" >Welcome to</h6>
    <span style="font-size: 26px;color:var(--font-color-1)"> ALZHEIMER DETECTION SYSTEM</span>
    </div>
</div>
<div class=" p-5 w-100">
  <div style="color:var(--font-color-1)">Pateint</div>
  <div style="color:var(--font-color-1)">AI-Powered MRI detection model</div>
  <div style="color:var(--font-color-1)">Doctor Appointment Booking</div>
</div>
<div class=" p-5 w-100 justify-content-end">
  <p style="color:var(--font-color-1)">Get start now</p>
  <div class=" p-2 w-100">
    <button class="btn btn-primary" routerLink="/register">Patient </button>
    <button class="btn btn-primary" routerLink="/register-doc" style="margin-left: 10px;">Doctor</button>
  </div>
</div>


<img style="z-index: 0;
position: absolute;
width: 40%;
left: 42%;
top: 100px;" src="assets/Welcome.png" alt="">

