<nav aria-label="breadcrumb" style="color: var(--icon-color);">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="color: var(--icon-color);">Schedule</li>
    <li class="breadcrumb-item active" aria-current="page"  style="color: var(--icon-color);">Dr: Mohammed Hussein</li>
  </ol>
</nav>


<div class="d-flex align-items-center flex-column">
<i class="bi bi-calendar-week-fill" style="font-size: 50px;color: var(--icon-color);margin-top: 20px;"></i>
  <p style="font-size: 20px;color: var(--icon-color);margin-top: 20px;">You don't any Clinic
    Right now
  </p>
  <button routerLink="/clinic"  class="btn btn-sign-up mt-5 col-lg-6 col-md-8 col-12">Go to add new Clinic</button>

</div>
